<!--@subject {{trans "Thanks for your purchase"}} @-->
<!--@vars {
"var hashUrl":"URL for the review"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "We hope you had have a good shopping experience in our shop."}}</p>
<p>{{trans "This will help us improve, so we will be glad if you could evaluate some aspects of the sale."}}</p>
<br>
<p>{{trans 'You can do it'}} <a href="{{var hashUrl}}">{{trans 'here'}}.</a> </p>

<p>{{trans "Thank for your time."}}</p>

{{template config_path="design/email/footer_template"}}
