<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <!--<menu>
        <add id="Xvrmallafre_StoreReviews::store_reviews" title="Store Reviews" translate="title" module="Xvrmallafre_StoreReviews" sortOrder="900" action="adminhtml/system_config/edit/section/xvrmallafre_storereviews" resource="Xvrmallafre_StoreReviews::config" parent="Magento_Backend::stores"/>
    </menu>-->
</config>
